.header {
    width: 100%;
    background-color: rgb(31, 31, 31);
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    padding: 8px;
}

h1 {
    display: inline;
    padding-top: 10px;
    padding-left: 20px;
}

.sign-button {
    display: inline;
    float: right;
    margin-right: 50px;
    font-size: 17px;
    padding: 5px;
    border-radius: 8px;
}

.panel-menu {
    display: inline;
    margin-left: 100px;
    font-size: 18px;
}

.item-menu {
    color: #ffffff;
    padding-right: 20px;
    text-decoration: none;
}