
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 110%;
  margin: 0 auto;
  /* min-width: 100px;  */
}

.car {
  background-color: #ffffff;
  width: 300px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

img {
   width: 320px;
   height: 180px;
}

.car-dtls {
  margin-bottom: 10px;
}

.button-edit {
  background-color: #196ce8;
  color: #DFDEDF;
  margin-left: 10px;
  width: 70px;
}

.button-delete {
  width: 70px;
  margin-left: 10px;
}

.button-add {
  background: #084520;
  width: 150px;
  margin-left: 50px;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 8px 16px;
  color: #DFDEDF;
}

.button-choose {
  background-color: #196ce8;
  color: #DFDEDF;
  margin-right: 10px;
}
