<div class="add-modal-content">
    <form #addForm="ngForm" >
        <h2 class="add-title">Create New Car</h2>
        <div class="add-body">
            <div class="form-group">
                <label for="model">Model:</label>
                <input ngModel name="model" type="text" class="form-control" id="model" required />
            </div>

            <div class="form-group">
                <label for="color">Color:</label>
                <input ngModel name="color" type="text" class="form-control" id="color" required />
            </div>

            <div class="form-group">
                <label for="year">Year:</label>
                <input ngModel name="year" type="text" class="form-control" id="year" required />
            </div>

            <div class="form-group">
                <label for="vinId">VIN:</label>
                <input ngModel name="vinId" type="text" class="form-control" id="vinId" required />
            </div>

            <div class="form-group">
                <label for="costPerDay">Price:</label>
                <input ngModel name="costPerDay" type="costPerDay" class="form-control" id="costPerDay" required />
            </div>
        </div>
        <button class="button button-cancel" (click)="closeDialog()">Cancel</button>
        <button [disabled]="addForm.invalid" type="submit" class="button button-add" (click)="addCar(addForm)">Add</button>
    </form>
</div>
